<mat-card>
  <mat-card-title id="head1">Router Scrolling</mat-card-title>
  <p>
    On this page examples the pageScroll directives routerLink capability is demonstrated.
  </p>
</mat-card>

<mat-card>
  <h3>Scroll to target on different route</h3>
  <p>The following button has a <code>routerLink</code> attribute set referring to a different route than the current
    one.</p>
  <button mat-raised-button color="primary" href="#head7" pageScroll routerLink="/simple" id="differentRouteScroll">
    Open route and start scrolling
  </button>
  <button mat-raised-button color="primary" href="#head3" pageScroll routerLink="/router" id="routerLinkToCurrentScroll">
    Open current route and start scrolling
  </button>
  <p>The following button has the same target as the above one, however, the target is specified by the
    <code>fragment</code> attribute. The <code>fragment</code> attribute will be used in case no <code>href</code> is
    found that specifies the target at triggering DOM object.</p>
  <button mat-raised-button color="primary" fragment="#head7" pageScroll routerLink="/simple"
          id="differentRouteScrollWithFragment">
    Open route and start scrolling
  </button>

  <h3>Scroll target with router to current page</h3>
  <p>The following scroll animation refers to a scroll target on the current page and includes the routerLink
    directive pointing to the current page. Each button uses a different routerLink syntax.</p>
  <button mat-raised-button color="primary" href="#head7" pageScroll routerLink="/router" id="currentRouteScroll1">
    Start 1
  </button>
  <button mat-raised-button color="primary" href="#head7" pageScroll [routerLink]="['/router']"
          id="currentRouteScroll2">
    Start 2
  </button>
  <button mat-raised-button color="primary" href="#head7" pageScroll [routerLink]="['/router', {foo: 'bar'}]"
          id="currentRouteScroll3">
    Start 3
  </button>

</mat-card>

<app-dummy-card [start]="2" [length]="13" [scrollButtons]="false"></app-dummy-card>
