<md-card>
  <md-card-title id="title">Nested scrolling</md-card-title>
  <p>
    Showcasing the scrolling inside a custom container. Triggering is done using the scroll service.
  </p>
  <button md-raised-button color="primary" (click)="scrollInside()" id="startNestedScrollingButton">Scroll inside the card</button>
</md-card>

<md-card>
  <md-card-title>A card</md-card-title>
  <md-card-content #container id="container">

    <app-dummy-content [start]="1" [length]="4" [headings]="false" [scrollButtons]="false"></app-dummy-content>

    <button md-raised-button color="warn" id="inContainer">A button inside the container</button>

    <app-dummy-content [start]="5" [length]="4" [headings]="false" [scrollButtons]="false"></app-dummy-content>

  </md-card-content>
</md-card>
