<mat-card *ngFor="let num of array; let isLast = last">
  <mat-card-title id="{{ idPrefix + num }}" *ngIf="headings">Prioris generis {{ num }}</mat-card-title>
  <mat-card-content>
    <app-dummy-content></app-dummy-content>
  </mat-card-content>
  <mat-card-actions *ngIf="scrollButtons && headings">
    <a href="#{{ idPrefix + (num - 1) }}" mat-button pageScroll>Go to previous</a>
    <a *ngIf="!isLast" href="#{{ idPrefix + (num + 1) }}" pageScroll mat-button>Go to next</a>
  </mat-card-actions>
</mat-card>
