<mat-card>
    <mat-card-title id="title">NgPageScroll Demo application</mat-card-title>
    <p>
        This small demo application showcases the usage of the ng2-page-scroll library. Please refer to the <a
            href="https://github.com/Nolanus/ng2-page-scroll#readme" target="_blank">Readme for documentation and
        instructions</a>. Whenever you encounter an error or have a suggestion for enhancement, don't hesitate to <a
            target="_blank" href="https://github.com/Nolanus/ng2-page-scroll/issues/new">file an issue</a> at the <a
            target="_blank" href="https://github.com/Nolanus/ng2-page-scroll">project repo on GitHub</a>.
    </p>
    <p>For debugging purposes you may enable scroll position logging by setting the checkmark at the top right. This
        results in all changes to the scrollTop/scrollLeft property to be logged to the console.
    </p>
</mat-card>

<mat-card>
    <p>
        These two buttons have a "routerLink" and "href" attribute set. In combination with the pageScroll directive
        this results in a press opening the new route and scrolling to the referred DOM element.
    </p>
    <button routerLink="/simple" mat-raised-button color="primary" href="#head1" pageScroll id="demoScroll1">
        Scroll to first heading on "simple scrolling" page
    </button>

    <button routerLink="/simple" mat-raised-button color="primary" href="#head3" pageScroll id="demoScroll2">
        Scroll to third heading on "simple scrolling" page
    </button>
</mat-card>
