<p>Do you want to <a href="#anchor1" pageScroll>go to the first heading</a>, go to
    <a href="#anchor2" pageScroll [pageScrollEasing]="myEasing" (pageScrollFinish)="doSmth($event)">the second one with a custom easing</a> or <a href="#anchor2" pageScroll [pageScrollDuration]="0">jump there directly</a>?</p>
<p>Alternatively you can <a href="#anchor2" pageScroll [pageScrollInterruptible]="false">go the second anchor and ignore user interrupts</a></p>

<p>Visit another page and press the "2nd anchor" link, to see how ng2-page-scroll works across routes.</p>

<p><img src="http://lorempixel.com/g/400/200/technics/" class="left"/>Lorem ipsum dolor sit amet, consectetur adipiscing
    elit. Prioris generis est docilitas, memoria; Illa argumenta propria videamus, cur omnia sint paria peccata. Quae
    cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi; Ille vero, si insipiens-quo certe, quoniam
    tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut sit in fine atque extrerno bonorum. Aliter enim
    explicari, quod quaeritur, non potest. Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini
    tollere. Quamquam in hac divisione rem ipsam prorsus probo, elegantiam desidero. </p>

<p>Duo Reges: constructio interrete. Quam ob rem tandem, inquit, non satisfacit? Hinc ceteri particulas arripere conati
    suam quisque videro voluit afferre sententiam. Putabam equidem satis, inquit, me dixisse. Tum Quintus: Est plane,
    Piso, ut dicis, inquit. Sit enim idem caecus, debilis. An hoc usque quaque, aliter in vita? Aufert enim sensus
    actionemque tollit omnem. </p>

<p>Illa argumenta propria videamus, cur omnia sint paria peccata. Quid sequatur, quid repugnet, vident. Non modo carum
    sibi quemque, verum etiam vehementer carum esse? Et quidem, inquit, vehementer errat; Isto modo ne improbos quidem,
    si essent boni viri. A villa enim, credo, et: Si ibi te esse scissem, ad te ipse venissem. Primum in nostrane
    potestate est, quid meminerimus? Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Etenim nec iustitia
    nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Dici enim nihil potest verius. </p>

<h1 id="anchor1">Non enim quaero quid verum, sed quid cuique dicendum sit.</h1>
<p><img src="http://lorempixel.com/g/400/200/business/" class="right"/>Tollenda est atque extrahenda radicitus.
    Paupertas si malum est, mendicus beatus esse nemo potest, quamvis sit sapiens. Atque hoc loco similitudines eas,
    quibus illi uti solent, dissimillimas proferebas. Sed tu istuc dixti bene Latine, parum plane. </p>

<p>Fortasse id optimum, sed ubi illud: Plus semper voluptatis? Paria sunt igitur. Aufert enim sensus actionemque tollit
    omnem. Nescio quo modo praetervolavit oratio. Quae est igitur causa istarum angustiarum? Non laboro, inquit, de
    nomine. Non est ista, inquam, Piso, magna dissensio. Tu quidem reddes; </p>

<p>Eadem nunc mea adversum te oratio est. Duo Reges: constructio interrete. Ita relinquet duas, de quibus etiam atque
    etiam consideret. Invidiosum nomen est, infame, suspectum. Indicant pueri, in quibus ut in speculis natura cernitur.
    Cum audissem Antiochum, Brute, ut solebam, cum M. Sit enim idem caecus, debilis. Videmusne ut pueri ne verberibus
    quidem a contemplandis rebus perquirendisque deterreantur? </p>

<p>An haec ab eo non dicuntur? Quod quidem iam fit etiam in Academia. Scaevolam M. Post enim Chrysippum eum non sane est
    disputatum. Tanta vis admonitionis inest in locis; Expectoque quid ad id, quod quaerebam, respondeas. Videamus animi
    partes, quarum est conspectus illustrior; Atqui perspicuum est hominem e corpore animoque constare, cum primae sint
    animi partes, secundae corporis. </p>

<p>Sit ista in Graecorum levitate perversitas, qui maledictis insectantur eos, a quibus de veritate dissentiunt. Semper
    enim ex eo, quod maximas partes continet latissimeque funditur, tota res appellatur. Ita graviter et severe
    voluptatem secrevit a bono. Ratio enim nostra consentit, pugnat oratio. Invidiosum nomen est, infame, suspectum.
    Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Sed in rebus apertissimis nimium longi sumus.
    Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego; Quae sunt igitur communia vobis cum
    antiquis, iis sic utamur quasi concessis; Plane idem, inquit, et maxima quidem, qua fieri nulla maior potest. </p>

<h1 id="anchor2">Quod quidem iam fit etiam in Academia. Quorum sine causa fieri nihil putandum est.</h1>

<p>Cur, nisi quod turpis oratio est? Ut optime, secundum naturam affectum esse possit. Eam si varietatem diceres,
    intellegerem, ut etiam non dicente te intellego; Dic in quovis conventu te omnia facere, ne doleas. Illa videamus,
    quae a te de amicitia dicta sunt. Ita multa dicunt, quae vix intellegam. Age nunc isti doceant, vel tu potius quis
    enim ista melius? Itaque ad tempus ad Pisonem omnes. Quare hoc videndum est, possitne nobis hoc ratio philosophorum
    dare. Mihi, inquam, qui te id ipsum rogavi? Iam in altera philosophiae parte. Mene ergo et Triarium dignos
    existimas, apud quos turpiter loquare? </p>

<p>Honesta oratio, Socratica, Platonis etiam. Murenam te accusante defenderem. Illa tamen simplicia, vestra versuta. Ita
    ne hoc quidem modo paria peccata sunt. Quid enim de amicitia statueris utilitatis causa expetenda vides. Post enim
    Chrysippum eum non sane est disputatum. Putabam equidem satis, inquit, me dixisse. Nam si amitti vita beata potest,
    beata esse non potest. </p>

<p>Sed ad bona praeterita redeamus. Quid autem habent admirationis, cum prope accesseris? Quod ea non occurrentia
    fingunt, vincunt Aristonem; At ille pellit, qui permulcet sensum voluptate. Quae est igitur causa istarum
    angustiarum? </p>

<p>Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Cur iustitia laudatur? Primum in nostrane potestate
    est, quid meminerimus? Sed vos squalidius, illorum vides quam niteat oratio. Ergo illi intellegunt quid Epicurus
    dicat, ego non intellego? Sed hoc sane concedamus. Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus
    exordium. Que Manilium, ab iisque M. </p>

<p>Pisone in eo gymnasio, quod Ptolomaeum vocatur, unaque nobiscum Q. At certe gravius. Iam doloris medicamenta illa
    Epicurea tamquam de narthecio proment: Si gravis, brevis; Negat esse eam, inquit, propter se expetendam. Duo enim
    genera quae erant, fecit tria. Teneo, inquit, finem illi videri nihil dolere. Qua ex cognitione facilior facta est
    investigatio rerum occultissimarum. Videamus igitur sententias eorum, tum ad verba redeamus. Tamen a proposito,
    inquam, aberramus. Qui ita affectus, beatum esse numquam probabis; </p>

<p>Ipse Epicurus fortasse redderet, ut Sextus Peducaeus, Sex. Perge porro; Huic ego, si negaret quicquam interesse ad
    beate vivendum quali uteretur victu, concederem, laudarem etiam; Tu enim ista lenius, hic Stoicorum more nos vexat.
    Sunt enim prima elementa naturae, quibus auctis vírtutis quasi germen efficitur. Non enim quaero quid verum, sed
    quid cuique dicendum sit. Nos commodius agimus. </p>

<p>Pisone in eo gymnasio, quod Ptolomaeum vocatur, unaque nobiscum Q. At certe gravius. Iam doloris medicamenta illa
    Epicurea tamquam de narthecio proment: Si gravis, brevis; Negat esse eam, inquit, propter se expetendam. Duo enim
    genera quae erant, fecit tria. Teneo, inquit, finem illi videri nihil dolere. Qua ex cognitione facilior facta est
    investigatio rerum occultissimarum. Videamus igitur sententias eorum, tum ad verba redeamus. Tamen a proposito,
    inquam, aberramus. Qui ita affectus, beatum esse numquam probabis; </p>

<p>Ipse Epicurus fortasse redderet, ut Sextus Peducaeus, Sex. Perge porro; Huic ego, si negaret quicquam interesse ad
    beate vivendum quali uteretur victu, concederem, laudarem etiam; Tu enim ista lenius, hic Stoicorum more nos vexat.
    Sunt enim prima elementa naturae, quibus auctis vírtutis quasi germen efficitur. Non enim quaero quid verum, sed
    quid cuique dicendum sit. Nos commodius agimus. </p>

<p><a href="#head" pageScroll [pageScrollDuration]="2500">Go to head in 2.5 seconds</a></p>
