<div #container id="container">
  <button (click)="goToAnchorByParentSelector()">goToAnchorByParentSelector</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <h3 id="inContainer" r>inContainer</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>

</div>

<p>Do you want to <a href="#head1" pageScroll>go to the first heading</a> or <a href="#head2" pageScroll>the second
    one</a>? Alternatively you can <a href="#head10" pageScroll [pageScrollDuration]="250">go the second last header</a>.
</p>

<p>Cross route linking: <a [routerLink]="['/']" pageScroll href="#anchor2">Open the Front page and scroll to second
    heading</a>!</p>
<p> You can go the anchor using the service <a (click)="goToAnchorHead11()">head11</a></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prioris generis est docilitas, memoria; Illa argumenta
    propria videamus, cur omnia sint paria peccata. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur
    sequi; Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Atqui eorum nihil est eius generis, ut
    sit in fine atque extrerno bonorum. Aliter enim explicari, quod quaeritur, non potest. Vos autem cum perspicuis
    dubia debeatis illustrare, dubiis perspicua conamini tollere. Quamquam in hac divisione rem ipsam prorsus probo,
    elegantiam desidero. </p>

<h1 id="head1">Lorem ipsum 1</h1>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
    feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
    mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
    wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
    ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
    Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
    erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
    feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
    mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
    wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
    ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
    Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
    erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
    feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
    mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
    wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
    ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
    Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
    erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
    feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
    mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
    wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
    ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
    Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
    erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

<div *ngFor="let num of array; let isLast = last">
    <h1 id="head{{ num }}">Prioris generis {{ num }}</h1>
    <p>Scroll to sections: <a href="#head{{ num - 1 }}" pageScroll [pageScrollOffset]="50">Go to previous</a>.
        <span *ngIf="!isLast"><a href="#head{{ num + 1 }}" pageScroll [pageScrollOffset]="50">Go to next</a>.</span>
        (with 50px offset)</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
        quam,
        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
        ultricies
        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
        wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum,
        eros
        ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
        Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
        erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
        quam,
        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
        ultricies
        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
        wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum,
        eros
        ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
        Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
        erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
        quam,
        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
        ultricies
        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
        wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum,
        eros
        ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
        Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
        erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
        quam,
        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
        ultricies
        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
        wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum,
        eros
        ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
        Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
        erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
</div>

<p><a href="#head" pageScroll [pageScrollDuration]="6500">Slowly go to the top again</a></p>
