<div class="app-content">

    <md-toolbar>
        <span>ng2-page-scroll demo application</span>
    </md-toolbar>

    <md-list>
        <md-list-item><a routerLink="/" routerLinkActive="active">Home</a></md-list-item>
        <md-list-item><a routerLink="/simple" routerLinkActive="active">Simple Scrolling</a></md-list-item>
        <md-list-item><a routerLink="/nested" routerLinkActive="active">Nested Scrolling</a></md-list-item>
    </md-list>

    <!-- Routed views go here -->
    <router-outlet></router-outlet>

</div>
