<div class="app-content" id="top">

  <mat-toolbar>
    <span>ngx-page-scroll demo application</span>
    <span>
        <mat-checkbox id="debugCheckBox" [checked]="isDebugEnabled" (change)="setDebug($event)" color="primary">
            Debug Mode
        </mat-checkbox>
    </span>
  </mat-toolbar>

  <mat-tab-group (selectChange)="tabChange($event)" [selectedIndex]="currentTabIndex">
    <mat-tab *ngFor="let link of links" label="{{ link.name }}"></mat-tab>
  </mat-tab-group>

  <!-- Routed views go here -->
  <router-outlet></router-outlet>

  <footer>
    <p><a href="#top" pageScroll>Go to Top</a></p>
  </footer>
</div>
