/* You can add global styles to this file, and also import other style files */

div.mat-toolbar-layout:first-child md-toolbar-row {
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-tab-labels .mat-tab-label {
  flex: 1;
}

.columnGrid .mat-figure {
  flex-direction: column;
}
