/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */

mat-toolbar {
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-tab-labels .mat-tab-label {
  flex: 1;
}

button.mdc-button--raised,
button.mdc-fab--mini {
  margin-right: 5px;
  margin-left: 5px;
}

.columnGrid .mat-figure {
  flex-direction: column;
}

.mat-card.warn {
  background-color: #f44336;
  color: #ffffff;
}
