<md-card>
  <md-card-title id="head1">Simple Scrolling</md-card-title>
  <p>
    On this page you may find some basic scroll operations using the directive and using the service.
  </p>
</md-card>

<!-- Buttons -->
<md-card>
  <p>All the following buttons scroll to the seventh heading but with different configuration.</p>

  <h3>Non-Interruptible, custom duration</h3>
  <p>This button has a custom animation duration of 5 seconds and is specified to be non-interrupbtible. Try scrolling
    or using the arrow keys while the scroll animation takes place.</p>
  <button md-raised-button color="primary" href="#head7" pageScroll [pageScrollInterruptible]="false"
          [pageScrollDuration]="5000" id="testButton">
    Start
  </button>

  <h3>Target Offset</h3>
  <p>These two buttons trigger a scroll animation with a custom offset to the target. One will stop 150px atop the
    target, the second one 50px below the target.</p>
  <button md-raised-button color="primary" href="#head7" pageScroll [pageScrollOffset]="150" id="offsetButton">
    Offset 150px
  </button>
  <button md-raised-button color="primary" href="#head7" pageScroll [pageScrollOffset]="-50"
          id="negativeOffsetButton">
    Offset -50px
  </button>


  <h3>Finish event</h3>
  <p>The following scroll animation has a custom duration of 350ms and a <code>pageScrollFinish</code> event listener
    attached and shows a snackbar
    at the bottom of the page when the event fires.</p>
  <button md-raised-button color="primary" href="#head7" pageScroll (pageScrollFinish)="doSmth($event)"
          [pageScrollDuration]="350" id="finishEventButton">
    Start
  </button>

  <h3>Custom easing</h3>
  <p>You may specify a custom easing function to manipulate the scroll position over time. This example uses an <i>easeInOutExpo</i>
    function.</p>
  <button md-raised-button color="primary" href="#head7" pageScroll [pageScrollEasing]="myEasing"
          id="customEasingButton">
    Start
  </button>
  <button md-raised-button color="primary" href="#head7" pageScroll [pageScrollDuration]="5000"
          [pageScrollEasing]="myEasing">
    Start slow version
  </button>

  <h3>Dynamic target</h3>
  <p>The following button showcases dynamically changing the scroll targets.</p>
  <p>
    <button md-raised-button color="primary" [href]="dynamicSelectedTarget" pageScroll id="dynamicTargetButton">
      Start
    </button>
    <md-select placeholder="Button Scroll Target" [(ngModel)]="dynamicSelectedTarget" id="dynamicTargetSelect">
      <md-option *ngFor="let dynamicTarget of dynamicTargets" [value]="dynamicTarget">
        {{ dynamicTarget }}
      </md-option>
    </md-select>
  </p>

  <h3>Scrolling using <i>PageScrollService</i></h3>
  <p>You may use the <i>PageScrollService</i> to create highly customized scroll animations. This example will scroll
    to the last heading of this page.</p>
  <button (click)="goToLastHeading()" md-button color="primary" id="goToLastHeadingButton">
    Go to last heading (done via service)
  </button>

</md-card>

<app-dummy-content [start]="2" [length]="14"></app-dummy-content>
