@for (num of array; track num; let isLast = $last) {
  <mat-card>
    <mat-card-header>
      @if (headings) {
        <mat-card-title id="{{ idPrefix + num }}">Prioris generis {{ num }}</mat-card-title>
      }
    </mat-card-header>
    <mat-card-content>
      <app-dummy-content></app-dummy-content>
    </mat-card-content>
    @if (scrollButtons && headings) {
      <mat-card-actions>
        <a href="#{{ idPrefix + (num - 1) }}" mat-button pageScroll>Go to previous</a>
        @if (!isLast) {
          <a href="#{{ idPrefix + (num + 1) }}" pageScroll mat-button>Go to next</a>
        }
      </mat-card-actions>
    }
  </mat-card>
}
